<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="wrapper::%-5level::%c{1} %t %d{yyyy-MM-dd HH:mm:ss.SSS}  - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${main:0}" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>